@charset "UTF-8";

:root {
    --color-tx: #E3104F;
    --second-color: #7D092C;
    --text-sec: #6B7280;
    --first-text: #8B8B8B;
    --background: #000000;
    --color-white: #C0C0C0;
    --second-background: #121212;
    --header-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #C0C0C0;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-margin-top: var(--header-height);
}

::selection {
    background-color: #C0C0C0;
    color: #E3104F;
}

.midiasocials {
    display: flex;
    right: 1rem;
    gap: 1rem;
}

svg {
    color: white;
}

.social {
    height: 25px;
}

header {
    display: flex;
    border-bottom: 1px solid var(--second-background);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
    padding: 1.4rem;
    font-weight: 550;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--background);
    height: var(--header-height);
}

nav {
    display: flex;
    gap: 1rem;
    width: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1rem;
    height: 30px;
}

main {
    background: var(--background);
}

main>section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 75dvh;
}


a {
    text-decoration: none;
    color: var(--first-text);
}

a:hover {
    color: var(--color-tx);
}

.ourpartners {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.partnerscompany {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    -webkit-user-select: none;
    user-select: none;
}

.prtn {
    color: #8B8B8B;
}

.textpprt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prt {
    height: 70px;
    filter: brightness(30%);
}

.prt:hover {
    filter: none;
    cursor: pointer;
}

.color {
    color: #E3104F;
}

.apresentation {
    height: 100dvh;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    /* -webkit-user-select: none;
    user-select: none; */
}

.contactbtn {
    color: var(--color-white);

    &:hover {
        color: var(--color-white);
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: 50px;

    &:hover {
        border: 1px solid var(--second-color);
        background: var(--color-tx);
        color: var(--color-white);
    }
}

.textini {
    margin-top: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    flex-direction: column;
}

.pricipaltx {
    font-size: 2.5rem;
}

.subtext {
    width: 40%;
    font-size: 1rem;
    color: var(--text-sec);
}


#services {
    height: 100dvh;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 5%;
}

.titleproduct {
    margin-top: -13%;
    width: 40%;
    font-size: 3rem;
}

.colorw {
    text-decoration: underline;
}

.subtextserv {
    width: 40%;
    font-size: 1rem;
    color: var(--text-sec);

}

section.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

section.to-top button {
    background-color: var(--color-tx);
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

section.to-top button:hover {
    background-color: var(--second-color);
}